{% extends '::base.html.twig' %}
{% block body %}
    <div ng-controller="AppCtrl" ng-cloak layout-gt-sm="row" layout="column">
        <div flex-gt-sm="100" flex>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button aria-label="Choose Campaign" ng-click="toggleCampaign()">
                        Choose Campaign
                    </md-button>
                    <h3>
                        <span>{[{ campaigns[model.selectedCampaign].description }]}</span>
                    </h3>
                    <span flex></span>
                    <md-button  ng-click="showNotVoted(campaigns[model.selectedCampaign].campaign_id)" ng-show="model.selectedCampaign != null" class="md-raised" aria-label="Learn More">
                        Not voted
                    </md-button>
                </div>
            </md-toolbar>
            <md-sidenav class="md-sidenav-left" md-is-open="true" md-component-id="left" md-disable-backdrop md-whiteframe="4">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Available Campaigns</h1>
                </md-toolbar>
                <md-subheader class="md-no-sticky">Choose the campaign</md-subheader>
                <md-content layout-margin class="sidebar">
                    <md-radio-group ng-model="model.selectedCampaign" ng-change="getCandidates()">
                        <md-radio-button ng-repeat="item in campaigns | orderBy:'-start'"
                                         ng-value="{[{$index}]}"
                                         value="{[{item.campaign_id}]}"
                                         class="md-primary">
                            {[{item.description}]}
                        </md-radio-button>
                    </md-radio-group>
                    <md-button ng-click="toggleCampaign()" class="md-accent">
                        Close
                    </md-button>
                </md-content>
            </md-sidenav>
            <div layout="row" class="loader" layout-align="center center" ng-hide="!model.isLoading">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <div layout="row" class="loader" layout-align="center" ng-hide="candidates.length > 0">
                <h2>Nothing to show</h2>
            </div>
            <md-content>
                <md-list flex ng-hide="candidates.length < 1">
                    <md-subheader class="md-no-sticky">Total candidates: {[{ candidates.length }]}</md-subheader>
                    <md-list-item class="md-3-line"
                                  ng-repeat="candidate in candidates | orderBy:'-percents'"
                                  ng-click="showVotes($event, candidate.to_id)">
                        <div class="md-list-item-text" layout="row">
                            <div flex flex-gt-sm="50">
                                <h3>{[{ candidate.name }]}</h3>
                                <h4>{[{ candidate.description }]}</h4>

                                <p>Address: {[{ candidate.addr }]}</p>
                            </div>
                            <div flex flex-gt-sm="25">
                                <h1>{[{ candidate.percents }]}%</h1>
                            </div>
                            <div flex flex-gt-sm="25">
                                <h1>{[{ candidate.voices }]} Vote(s)</h1>
                            </div>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
{% endblock body %}
