<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="//cdn.muicss.com/mui-0.9.1/css/mui.css">
    {% block stylesheets %}{% endblock %}
    <title>{% block title %}EmcVote{% endblock %}</title>
    <style>
        .listdemoBasicUsage md-divider {
            margin-top: 10px;
            margin-bottom: 0;
        }

        .sidebar {
            padding: 0 12px;
        }

        .sidebar md-radio-button {
            padding: 5px 0;
        }

        .loader {
            height: 100%;
            position: relative;
        }
    </style>
</head>
<body ng-app="EmcVote" ng-cloak>
{% block body %}{% endblock %}
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script type="text/javascript">
    angular.module('EmcVote', ['ngMaterial', 'ngMessages'])
            .config(function ($interpolateProvider, $mdThemingProvider) {
                $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
                $mdThemingProvider.theme('default');
            })
            .controller('AppCtrl', function ($scope, $http, $mdDialog, $mdSidenav,$mdComponentRegistry) {
                var campaignId = null;
                $scope.model = {
                    selectedCampaign: rememberCampaign(),
                    isLoading: false
                };
                $scope.notVotedInfo = '';
                $scope.campaigns = [];
                $scope.candidates = [];
                $scope.toggleCampaign = buildToggler('left');
                $scope.getCandidates = function () {
                    $scope.model.isLoading = true;
                    $scope.candidates = []; // reset
                    $mdComponentRegistry.when('left').then(function(it) {
                        it.close();
                    });
                    campaignId = $scope.model.selectedCampaign.campaign_id;
                    $http.get('/api/candidates.json', {params: {campaignId: campaignId}}).success(function (data) {
                        $scope.candidates = data;
                        $scope.model.isLoading = false;
                        rememberCampaign($scope.model.selectedCampaign);
                        var voted = 0;
                        var votedPercents = 0;

                        $scope.candidates.forEach(function(v,k) {
                            voted += +v.voices;
                            votedPercents += +v.percents;
                        });

                        var camp = $scope.model.selectedCampaign;
                        $scope.notVotedInfo = '('+(camp.ballots - voted) + ' | ' + (100 - votedPercents)+'%)';
                    });
                };

                $http.get('/api/campaigns.json').success(function (data) {
                    $scope.campaigns = data;
                    if ($scope.model.selectedCampaign) {
                        $scope.campaigns.forEach(function(v) {
                            if (v.campaign_id == $scope.model.selectedCampaign.campaign_id) {
                                $scope.model.selectedCampaign = v;
                            }
                        });
                    }
                });

                function buildToggler (componentId) {
                    return function () {
                        $mdSidenav(componentId).toggle();
                    }
                }

                function rememberCampaign(campaign) {
                    if(!!campaign) {
                        localStorage.campaign = angular.toJson(campaign);
                    } else {
                        return localStorage.campaign ? angular.fromJson(localStorage.campaign) : null;
                    }
                }

                $scope.showVotes = function (ev, candidate) {
                    $mdDialog.show({
                        controller: 'VotesCtrl',
                        templateUrl: '/api/tmpl/vote-popup.html',
                        parent: angular.element(document.body),
                        targetEvent: ev,
                        clickOutsideToClose: true,
                        locals: {
                            params: {
                                candidate: candidate,
                                campaignId: campaignId
                            }
                        }
                    });
                };

                $scope.showNotVoted = function (ev) {
                    $mdDialog.show({
                        controller: 'NotVotedCtrl',
                        templateUrl: '/api/tmpl/not-voted-popup.html',
                        parent: angular.element(document.body),
                        targetEvent: ev,
                        clickOutsideToClose: true,
                        locals: {
                            params: {
                                campaignId: campaignId
                            }
                        }
                    });
                };

                $scope.campaignFilter = function (type) {
                    return function (input) {
                        var currentDate = new Date().getTime() / 1000;
                        var finishDate = input.finish;
                        switch (type) {
                            case 'current':
                                return finishDate > currentDate;
                                break;
                            case 'finished':
                                return finishDate < currentDate;
                        }
                    };
                };

                if ($scope.model.selectedCampaign) {
                    $scope.getCandidates();
                } else {
                    $mdComponentRegistry.when('left').then(function(it) {
                        it.open();
                    });
                }
            })
            .controller('VotesCtrl', function ($scope, $http, params) {
                $scope.model = {
                    isLoading: true
                };
                $scope.candidate = params.candidate;
                $scope.votes = [];
                $http.get('/api/votes.json', {
                    params: {
                        candidateId: params.candidate.to_id,
                        campaignId: params.campaignId
                    }
                }).success(function (data) {
                    $scope.votes = data;
                    $scope.model.isLoading = false;
                });
            })
            .controller('NotVotedCtrl', function ($scope, $http, params) {
                $scope.model = {
                    isLoading: true
                };
                $scope.notVoted = [];
                $http.get('/api/not/voted.json', {
                    params: {
                        campaignId: params.campaignId
                    }
                }).success(function (data) {
                    $scope.notVoted = data;
                    $scope.model.isLoading = false;
                });
            });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>